body {
	font-size:.9em;
}

* {
	margin:0;padding:0;
}

#container {
/*	width:1030px;*/ 
	width:980px;
	margin:0 auto;
}

h1 {
	text-align:center;
	font-size:5.5em;
	font-weight:normal;
	padding-top:.3em;
	padding-bottom:.3em;
}

p {
	text-indent:1em;
	padding:.625em 0;
	text-align:left;
	line-height:1.2em;
	margin:0;
	padding:0;
}

.col {
/*	width:15.5em;*/
	width:15em;
	padding:0 1em;
	float:left;
}

.CCspace {
	width:90px;
	height:140px;
	padding:5px;
	float:right;
}

.CCpullout {
	width:180px;
	height:140px;
	padding:0px;
	float:left;
	margin-left:-130px;
}

.CCpullout span {
	width:180px;
	position:absolute;
	text-align:center;
}

.CCpullout p {
	padding-top:0.1em;
	text-align:center;
	margin-left:-17px;
}

.CCpullout del {
	font-size:0px;
	color:#fff;
	position:absolute;
}

.CCpullout img {
	text-align:center;	
}

.no_indent {
	text-indent:0em;
	margin:0;
	padding:0;	
}