body {
	font-size:.9em;
}

.container {
	width:1030px;
	margin:0;
	padding-left:1em;
}

h1 {
	text-align:center;
	font-size:6em;
	font-weight:normal;
	padding-top:.2em;
	padding-bottom:.2em;
}

p {
	text-indent:1em;
	margin:0;
	padding:0;
}

.subhead {
	text-indent:0em;
	text-align:center;
	padding-top:.1em;
}

.last_line {
	text-indent:0em;
	margin:0;
	padding:0;	
}

.wide_column {
	width:15.6em;
	float:left;
	padding: 0em 2em 0em 0em;
/*	border:1px solid blue;*/
}

.tiny_column {
	width:9.8em;
	float:left;
	padding: 0em 2em 0em 0em;
/*	border:1px solid red;*/
}

.fat_column {
	float:left;
	width:15.6em;
	padding: 0em 1em 1em 1em;
/*	border:1px solid black;*/
}

.center_column {
	width:36.2em;
	float:left;
}

.center_everything {
	float:left;
}