body {
	font-size:.9em;
}

.container {
	width:1030px;
	margin:0;
	padding:0;
}

h1 {
	font-size:6em;
	font-weight:normal;
	padding-top:.2em;
	margin:0;
	text-align:center;
}

p {
	text-indent:1em;
	margin:0;
	padding:0;
}

.last_line {
	text-indent:0em;
	margin:0;
	padding:0;	
}

.column {
	width:15.6em;
	float:left;
	padding:1em;
}
