<head>
  <title>Markup</title>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "menu" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<div class="left">
		<div class="header">
			Greatest Pizza <span class="title">THIN CRUST</span>
		</div>
	
		<table class="main_table">
			<tr>
				<td class="toppings">Cheese is<br>the Base</td>
				<td>10"<br><span class="subhead">small<br>serves 1-2</span></td>
				<td>12"<br><span class="subhead">medium<br>serves 2-3</span></td>
				<td>14"<br><span class="subhead">large<br>serves 3-4</span></td>
				<td>16"<br><span class="subhead">x-large<br>serves 4-5</span></td>
				<td>18"<br><span class="subhead">party<br>serves 5-6</span></td>
			</tr>
		
			<tr>
				<td class="toppings"><b>CHEESE<br>ONLY</b></td>
				<td>$9.30</td>
				<td>$11.20</td>
				<td>$13.10</td>
				<td>$15.95</td>
				<td>$18.60</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>With 1 Ingredient</b></td>
				<td>10.50</td>
				<td>12.80</td>
				<td>15.00</td>
				<td>17.90</td>
				<td>21.35</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>With 2 Ingredients</b></td>
				<td>10.90</td>
				<td>13.50</td>
				<td>16.35</td>
				<td>19.40</td>
				<td>22.95</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>With 3 Ingredients</b></td>
				<td>11.70</td>
				<td>15.25</td>
				<td>17.60</td>
				<td>20.50</td>
				<td>24.90</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>NANO'S HOUSE SPECIAL</b><br><span class="subhead">Sausage, Mushroom, Green Pepper, Onion, Pepperoni</span></td>
				<td>12.80</td>
				<td>17.25</td>
				<td>19.55</td>
				<td>22.75</td>
				<td>25.45</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>HAWAIIAN</b><br><span class="subhead">Pineapple, Onion, Canadian Bacon</span></td>
				<td>12.45</td>
				<td>15.55</td>
				<td>18.40</td>
				<td>20.95</td>
				<td>23.95</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>NANO'S VEGGIE</b><br><span class="subhead">Green Pepper, Onion, Mushroom, Spinach</span></td>
				<td>12.65</td>
				<td>16.25</td>
				<td>17.75</td>
				<td>19.95</td>
				<td>22.45</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>VEGGIE SUPREME</b><br><span class="subhead">Tomatoes, Mushrooms, Green Pepper, Onion, Black Olives, Broccoli</span></td>
				<td>15.30</td>
				<td>18.55</td>
				<td>21.95</td>
				<td>25.75</td>
				<td>27.45</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>Additional Ingredient</b></td>
				<td>1.20</td>
				<td>1.60</td>
				<td>1.95</td>
				<td>2.40</td>
				<td>2.75</td>
			</tr>
		</table>
	</div>

	<div class="divider"></div>

	<div class="left">
		<div class="header">
			<span class="title">STUFFED</span>
		</div>
	
		<table class="main_table">
			<tr>
				<td class="toppings">Cheese is<br>the Base</td>
				<td>10"<br><span class="subhead">small<br>serves 1-2</span></td>
				<td>12"<br><span class="subhead">medium<br>serves 2-3</span></td>
				<td>14"<br><span class="subhead">large<br>serves 3-4</span></td>

			</tr>
		
			<tr>
				<td class="toppings"><b>CHEESE<br>ONLY</b></td>
				<td>$11.95</td>
				<td>$14.55</td>
				<td>$16.95</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>With 1 Ingredient</b></td>
				<td>13.15</td>
				<td>16.00</td>
				<td>18.60</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>With 2 Ingredients</b></td>
				<td>14.40</td>
				<td>19.20</td>
				<td>20.45</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>With 3 Ingredients</b></td>
				<td>15.85</td>
				<td>20.95</td>
				<td>22.40</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>NANO'S HOUSE SPECIAL</b><br><span class="subhead">Sausage, Mushroom, Green Pepper, Onion, Pepperoni</span></td>
				<td>17.55</td>
				<td>20.95</td>
				<td>22.40</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>HAWAIIAN</b><br><span class="subhead">Pineapple, Onion, Canadian Bacon</span></td>
				<td>16.75</td>
				<td>18.65</td>
				<td>21.95</td>
			</tr>
		
			<tr>
				<td class="toppings"><b>NANO'S VEGGIE</b><br><span class="subhead">Green Pepper, Onion, Mushroom, Spinach</span></td>
				<td>16.65</td>
				<td>19.95</td>
				<td>21.55</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>VEGGIE SUPREME</b><br><span class="subhead">Tomatoes, Mushrooms, Green Pepper, Onion, Black Olives, Broccoli</span></td>
				<td>17.95</td>
				<td>21.85</td>
				<td>25.40</td>
			</tr>
	
			<tr>
				<td class="toppings"><b>Additional Ingredient</b></td>
				<td>1.80</td>
				<td>1.95</td>
				<td>2.50</td>
			</tr>
		</table>
	</div>

	<table class="bottom_table">
		<tr>
			<td><b><i>Ingredients</i></b></td>
			<td>Sausage<br/>Mushroom<br/>Green Pepper</td>
			<td>Tomatoes<br/>Broccoli<br/>Garlic</td>
			<td>Black Olives<br/>Green Olives<br/>Jalapeño Peppers</td>
			<td>Ground Beef<br/>*Spinach<br/>Onion</td>
			<td>Pineapple<br/>Pepperoni<br/>*Shrimp</td>
			<td>*American Bacon<br/>*Canadian Bacon<br/>*Anchovies</td>
		</tr>
	</table>
	
	<div class="double_the_price">
		*Double the Price
	</div>

</div>

<%= image_tag "menu.jpg" %>